# Ignore everything
*

# Except:
!.gitignore
!cscan.py
!agilent.py
!agilent_libs/agilent_language.py
!agilent_libs/agilent_backend.py
!agilent_libs/waveform_generator.py
!agilent_libs/__init__.py
!tocken
!cscans
!cscans/__init__.py
!cscans/cscan_axillary_functions.py
!cscans/cscan_ccscan.py
!cscans/cscan_constants.py
!cscans/cscan_data_collector.py
!cscans/cscan_data_workers.py
!cscans/cscan_hklcscan.py
!cscans/cscan_scancl.py
!lms.py